/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

#home {
  background-image: url(https://user-images.githubusercontent.com/89401079/150342945-4c670cb3-759a-45f9-88f2-83ca6cf6b65c.jpg);
  align-items: center;
  background-repeat: no-repeat;
  position: relative;
}
