
#home {
  background-image: url(https://user-images.githubusercontent.com/89401079/150342945-4c670cb3-759a-45f9-88f2-83ca6cf6b65c.jpg);
  align-items: center;
  background-repeat: no-repeat;
  position: relative;
}
